doctype
html
    head
        title= "Recording-Server"
        script(src="//cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    body
        button(onclick="startRecording()") Start Recording Concert
        button(onclick="stopRecording()") Stop Recording Concert
        script(src="js/recorder.js")
